body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 2rem;
}


.editor-container {
  width: 1000px;
  height: 770px;
  margin: 20px auto;
  position: relative;
}

#editor {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.btn-container{
  margin: 20px;
}

.output-container{
  width: auto;
  margin-left: 40px;
}

#timer {
  font-size: 24px;
  font-weight: 20;
  margin-left: 20px;
}

#numberOftabs
{
  font-size: 24px;
  font-weight: 20;
  margin-left: 20px;
}
#exitBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* Add animation */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.modal-content {
  animation: fadeIn 0.3s;
  -webkit-animation: fadeIn 0.3s;
}
